<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Automation Exercise Suite">
    <listeners>
    </listeners>

    <test name="Login Test">

        <classes>
            <class name="AutomationExam.TestCases.LoginTestCases" />
            <class name="AutomationExam.TestCases.CartTestCases"/>
        </classes>
    </test>

</suite>
